{% extends 'registration/base.html' %}
{% load staticfiles %}

{% block title %}Profile{% endblock %}

{% block style %}
<style>
</style>
{% endblock %}

{% block content %}
<div class="content container-fluid">
	<div class="row-fluid">
		<div class="span8 offset2">
			<h2 class="page-title">프로필  <small>Profile</small></h2>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span8 offset2">
			<section class="widget">
				<fieldset>

					<legend class="section"><i class="icon-circle-blank"></i>  신상 정보 &nbsp;&nbsp;&nbsp;<a href="#">Edit</a></legend>
					<div class="row-fluid">
						<div class="span2" style="text-align: right;">
							아이디
						</div>
						<div class="span9 offset1">
							{{ user.username }}
						</div>
					</div>

					<div class="row-fluid">
						<div class="span2" style="text-align: right;">
							이름
						</div>
						<div class="span9 offset1">
							{{ user.first_name }} {{ user.last_name }}
						</div>
					</div>

					<div class="row-fluid">
						<div class="span2" style="text-align: right;">
							이메일
						</div>
						<div class="span9 offset1">
							{{ user.email }}
						</div>
					</div>

					<div class="row-fluid">
						<div class="span2" style="text-align: right;">
							나이
						</div>
						<div class="span9 offset1">
							{{ user.age }}
						</div>
					</div>

					<div class="row-fluid">
						<div class="span2" style="text-align: right;">
							성별
						</div>
						<div class="span9 offset1">
							{{ user.get_gender_display }}
						</div>
					</div>

					<div class="row-fluid">
						<div class="span2" style="text-align: right;">
							생일
						</div>
						<div class="span9 offset1">
							{{ user.birthday }}
						</div>
					</div>

					<div class="row-fluid">
						<div class="span2" style="text-align: right;">
							나이
						</div>
						<div class="span9 offset1">
							{{ user.age }}
						</div>
					</div>

					<div class="row-fluid">
						<div class="span2" style="text-align: right;">
							집 전화번호
						</div>
						<div class="span9 offset1">
							{{ user.home_number }}
						</div>
					</div>

					<div class="row-fluid">
						<div class="span2" style="text-align: right;">
							휴대전화 번호
						</div>
						<div class="span9 offset1">
							{{ user.phone_number }}
						</div>
					</div>

					<div class="row-fluid">
						<div class="span2" style="text-align: right;">
							학력
						</div>
						<div class="span9 offset1">
							{{ user.get_education_level_display }}
						</div>
					</div>

					<div class="row-fluid">
						<div class="span2" style="text-align: right;">
							병역사항
						</div>
						<div class="span9 offset1">
							{{ user.get_military_display }}
						</div>
					</div>

					<div class="row-fluid">
						<div class="span2" style="text-align: right;">
							학교명
						</div>
						<div class="span9 offset1">
							{{ user.school }}
						</div>
					</div>

					<div class="row-fluid">
						<div class="span2" style="text-align: right;">
							구글 계정
						</div>
						<div class="span9 offset1">
							{{ user.google }}
						</div>
					</div>

					<div class="row-fluid">
						<div class="span2" style="text-align: right;">
							트위터 계정
						</div>
						<div class="span9 offset1">
							{{ user.twitter }}
						</div>
					</div>

					<div class="row-fluid">
						<div class="span2" style="text-align: right;">
							페이스북 계정
						</div>
						<div class="span9 offset1">
							{{ user.facebook }}
						</div>
					</div>

				</fieldset>

				<fieldset>
					<legend class="section"><i class="icon-circle-blank"></i> 수상 정보 &nbsp;&nbsp;&nbsp;<a href="{% url 'member:add_award' %}">Add</a></legend>
					{% for award in awards %}

					<div class="row-fluid">
						<div class="span2" style="text-align: right;">
							{{ award.date }}
						</div>
						<div class="span9 offset1">
							{{ award.title }}
						</div>
					</div>
					<div class="row-fluid">
						<div class="span2" style="text-align: right;">
							<form action="/member/profile/" method="POST">
								<a href="{% url 'member:delete_award' award.id %}">Delete</a>
							</form>
						</div>
						<div class="span9 offset1" style="margin-bottom: 50px; word-break: break-all">
							{{ award.description }}
						</div>
					</div>
					{% endfor %}
				</fieldset>

				<fieldset>
					<legend class="section"><i class="icon-circle-blank"></i> 경력사항 &nbsp;&nbsp;&nbsp;<a href="{% url 'member:add_career' %}">Add</a></legend>
					{% for career in careers %}

					<div class="row-fluid">
						<div class="span2" style="text-align: right;">
							{{ career.start_date }}<br/>
							~ {{ career.end_date }}
						</div>
						<div class="span9 offset1">
							{{ career.title }}
						</div>
					</div>
					<div class="row-fluid">
						<div class="span2" style="text-align: right;">
							<form action="/member/profile/" method="POST">
								<a href="{% url 'member:delete_career' career.id %}">Delete</a>
							</form>
						</div>
						<div class="span9 offset1" style="margin-bottom: 50px; word-break: break-all">
							{{ career.description }}
						</div>
					</div>
					{% endfor %}
				</fieldset>


			</section>
		</div>
	</div>
</div>
</div>
{% endblock %}


{% block bottom_script %}
<!-- jquery and friends -->
<script src="{% static 'lib/jquery/jquery.1.9.0.min.js' %}"> </script>
<script src="{% static 'lib/jquery/jquery-migrate-1.1.0.min.js' %}"> </script>

<!-- jquery plugins -->
<script src="{% static 'js/jquery/jquery.maskedinput.js' %}"></script>
<script src="{% static 'js/parsley/parsley.js' %}"> </script>
<script src="{% static 'js/jquery/jquery.uniform.js' %}"></script>
<script src="{% static 'js/jquery/jquery.select2.js' %}"></script>
<script src="{% static 'js/jquery/jquery.autogrow-textarea.js' %}"></script>


<!--backbone and friends -->
<script src="{% static 'js/backbone/underscore-min.js' %}"></script>

<!-- bootstrap default plugins -->
<script src="{% static 'js/bootstrap/bootstrap-transition.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-collapse.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-alert.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-tooltip.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-popover.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-button.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-dropdown.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-modal.js' %}"></script>

<!-- bootstrap custom plugins -->
<script src="{% static 'js/bootstrap/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-select.js' %}"></script>


<script src="{% static 'js/bootstrap/bootstrap-switch.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap-colorpicker.js' %}"></script>

<!-- basic application js-->
<script src="{% static 'js/bootstrap/app.js' %}"></script>
<script src="{% static 'js/bootstrap/settings.js' %}"></script>

<!-- page specific -->
<script src="{% static 'js/forms-elemets.js' %}"></script>
{% endblock %}

{% block after_script %}
{% endblock %}