{% load staticfiles %}
<footer>
	<div class="container">
		<div class="row">
			<div class="span9">
				<div class="widget">
					<h5 class="widgetheading">Soma Photostream</h5>
					<div class="flickr_badge">
						<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=10&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03"></script>
					</div>
					<div class="clear">
					</div>
				</div>
			</div>
			<div class="span3">
				<div class="widget">
					<h5 class="widgetheading">Contact</h5>
					<address>
						<strong>SW Maestro 과정 연수센터</strong><br>
						서울 특별시 강남구 테헤란로<br>
						아남타워 빌딩 2층, 7층 </address>
						<p>
							<i class="icon-phone"></i> (TEL) 02-6933-0701~0705<br>
							<i class="icon-phone"></i> (FAX) 02-6933-0713<br>
							<i class="icon-envelope-alt"></i> swmaestro@fkii.org
						</p>
					</div>
				</div>
			</div>
		</div>
		<div id="sub-footer">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="copyright pull-right">
							<p>
								<span>&copy; SWMaestro 2013 All right reserved. Developed by</span><a href="#" target="_blank"> <strong>배권환</strong> | 김한울 | 이한영 | 한수훈</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
<a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
<!-- javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static 'orange/jquery.js' %}"></script>
	<script src="{% static 'orange/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'orange/bootstrap.js' %}"></script>
	<script src="{% static 'orange/jcarousel/jquery.jcarousel.min.js' %}"></script>
	<script src="{% static 'orange/jquery.fancybox.pack.js' %}"></script>
	<script src="{% static 'orange/jquery.fancybox-media.js' %}"></script>
	<script src="{% static 'orange/google-code-prettify/prettify.js' %}"></script>
	<script src="{% static 'orange/portfolio/jquery.quicksand.js' %}"></script>
	<script src="{% static 'orange/portfolio/setting.js' %}"></script>
	<script src="{% static 'orange/tweet/jquery.tweet.js' %}"></script>
	<script src="{% static 'orange/jquery.flexslider.js' %}"></script>
	<script src="{% static 'orange/jquery.nivo.slider.js' %}"></script>
	<script src="{% static 'orange/modernizr.custom.79639.js' %}"></script>
	<script src="{% static 'orange/jquery.ba-cond.min.js' %}"></script>
	<script src="{% static 'orange/jquery.slitslider.js' %}"></script>
	<script src="{% static 'orange/animate.js' %}"></script>
	<script src="{% static 'orange/custom.js' %}"></script>
	<script src="{% static 'orange/jquery.validate.min.js' %}"></script>
	<script src="{% static 'orange/scripts.js' %}"></script>
</body>
</html>
