{% extends 'manager/notice/base.html' %}

{% block content_notice %}
<legend>공지사항 카테고리 목록</legend>
<div>
	{% for category in categories %}
	<div class="row-fluid" style="margin-bottom: 5px;">

		<span class="span8">
			<span class="btn">우선순위 : {{ category.priority }}</span>
			<span>&nbsp;&nbsp;&nbsp;<a href="{% url 'manager:notice_category_detail' category.id %}">{{ category.title }}</a></span>
		</span>
		<span class="span3" style="text-align: right; padding-right: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'manager:notice_category_edit' category.id %}"><span class="btn btn-info">수정</span></a></span>
	</div>
	{% endfor %}
</div>


{% endblock %}