{% extends 'manager/notice/base.html' %}
{% load staticfiles %}

{% block content_notice %}
<legend>카테고리 수정</legend>
<div class="row-fluid">
	<form class="form-horizontal" method="post">{% csrf_token %}
		{% for field in form %}
		<div class="control-group">
			<label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
			<div class="controls">
				{{ field }}
			</div>
		</div>
		{% endfor %}
		<div class="span10 offset2">
			<input type="submit" class="btn btn-medium btn-orange" value="작성완료"/>
		</div>
	</form>
</div>
{% endblock %}

{% block bottom %}
<script src="{% static 'js/ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'js/ckeditor/adapters/jquery.js' %}"></script>
<script>
$('#{{ form.content.id_for_label }}').ckeditor({
	enterMode : CKEDITOR.ENTER_BR,
	shiftEnterMode: CKEDITOR.ENTER_P
});
</script>
{% endblock %}