{% extends 'manager/notice/base.html' %}

{% block head %}
{% endblock %}

{% block content_notice %}
<div class="row-fluid">
	<span class="span10">
		<legend>공지사항 목록</legend>
	</span>
	<span class="span2" style="text-align: right; margin-top: 10px;">
		<select placeholder="카테고리 선택" id="category_select" class="chzn-select span12" name="category">
			<option value=""></option>
			{% for category in categories %}
			<option value="{{ category.id }}">{{ category.title }}</option>
			{% endfor %}
		</select>
	</span>
</div>
<div>
	{% for notice in notices %}
	<div class="row-fluid" style="margin-bottom: 5px;">
		<span class="span1">{{ notice.category.title }}</span>
		<span class="span8">
			&nbsp;&nbsp;&nbsp;<a href="{% url 'manager:notice_detail' notice.id %}">{{ notice.title }}</a>
		</span>
		<span class="span3" style="text-align: right; padding-right: 0px;">|&nbsp;&nbsp;{{ notice.created|date:'Y-m-d' }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'manager:notice_edit' notice.id %}"><span class="btn btn-info">수정</span></a></span>
	</div>
	{% endfor %}
</div>



{% endblock %}